[submodule "tests/git/submodule/packages/fmt"]
	path = tests/Git/Submodule/Packages/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "tests/git/submodule/packages/Catch2"]
	path = tests/Git/Submodule/Packages/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = master
